<template>
    <input v-model="textInput" placeholder="text">
    <div>
        <button @click="binary = toBinary(textInput)">Ubah ke biner</button>
        <p>Bentuk biner string: {{ binary }}</p>
    </div>
    <div>
        <button @click="cipher = encrypt(binary, simpleDES, key, cipher)">Enkripsi</button>
        <p>Data yang dienkripsi: {{ cipher }}</p>
    </div>
    <div>
        <button @click="plain = decrypt(cipher, simpleDES, key, plain)">Dekripsi</button>
        <p>Hasil dekripsi: {{ plain }}</p>
    </div>
</template>

<script>

export default {
    name: 'Form',
    data() {
        return {
            textInput: '',
            binary: '',
            simpleDES: require('simplified-des'),
            key: '1010000010',
            cipher: '',
            plain: '',
        }
    },
    methods: {
        toBinary: s => {
            return "0" + s
            .split("")
            .map(char => {
               return char.charCodeAt(0).toString(2);
            })
            .join(" ");
        },
        toString: s => {
            return s
            .split(" ")
            .map(bin => {
               return bin !== "" ? String.fromCharCode(parseInt(bin, 2)) : "";
            })
            .join("");
        },
        encrypt: (binary, simpleDES, key, cipher) => {
            var split = binary.split(' ');
            for (var i = 0; i < split.length; i++) {
                if (i >= 1) {
                    cipher += '0';
                }
                cipher += simpleDES.encrypt(split[i], key) + " ";
            }
            
            return cipher;
        },
        decrypt: (cipher, simpleDES, key, plain) => {
            var split = cipher.split(' ');
            for (var i = 0; i < split.length; i++) {
                plain += simpleDES.decrypt(split[i], key) + " ";
            }
            
            return plain;
        },
    },
}
</script>