<template>
  <Form />
</template>

<script>
import Form from './components/Form'

export default {
  components: {
    Form,
  },
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin-top: 60px;
  margin-left: 80px;
}
input {
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid black;
}
button {
  padding: 12px 8px;
  background-color: white;
  font-size: 16px;
}
button:hover {
  color: white;
  background-color: #2c3e50;
  transition-duration: 200ms;
}
</style>
